<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подробности жалобы</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">
    <h1 class="my-4">Подробности жалобы</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Жалоба от {{ complaint.user.username }}</h5>
            <small class="text-muted">Дата создания: {{ complaint.created_at }}</small>
            <p class="card-text">{{ complaint.content }}</p>
        </div>
    </div>
</body>
</html>
