<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserAPI</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">
    <h1 class="my-4">UserAPI</h1>
    <a href="/api/users/" class="btn btn-primary">Список пользователей</a>
    <a href="/api/news/" class="btn btn-success">Список новостей</a>
</body>
</html>
