<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подача полезных предложений - Успешно отправлено</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Подача полезных предложений - Успешно отправлено</h2>
        <p>Ваше предложение было успешно отправлено. Спасибо за ваш вклад!</p>
        <a href="{% url 'submit_idea' %}" class="btn btn-primary">Отправить ещё предложение</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
